<!DOCTYPE html>
<html lang="en">
@* 
    <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SyncfusionFileManager</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/flowbite.min.css" />
    <link rel="stylesheet" href="https://cdn.syncfusion.com/ej2/25.1.35/tailwind.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <!-- Syncfusion ASP.NET Core controls scripts -->
    <script src="https://cdn.syncfusion.com/ej2/25.1.35/dist/ej2.min.js"></script>
</head>
*@
<head>
    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SyncfusionFileManager</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
   @* <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />*@
<link rel="stylesheet" href="~/flowbite/dist/flowbite.min.css" />
<link rel="stylesheet" href="~/css/ej2/tailwind.css" />
@* <link href="~/css/ej2/bootstrap5.css" rel="stylesheet" />*@
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    @* <link rel="stylesheet" href="~/css/tailwind.min.css" />*@
    <script src="https://cdn.syncfusion.com/ej2/25.1.35/dist/ej2.min.js"></script>
   @*  <script src="~/js/ej2/ej2.min.js"></script> *@
@*<script src="~/js/ej2/ejs.interop.min.js"></script>*@
<style>
        .btn-primary {
            color: #0d6efd;
        }
        header {
            margin-top: 100px;
        }
</style>
</head> 
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">SyncfusionFileManager</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="ListView" asp-action="Index">ListView</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Grid" asp-action="Index">Grids</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="RichTextEditor" asp-action="Index">RichText Editor</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="PartialView" asp-action="Index">Partial Views</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - SyncfusionFileManager - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/flowbite/dist/flowbite.js"></script>
    <script src="~/js/jquery-resize.js"></script>
    <script src="~/js/modaljs/pmw-modal.js" asp-append-version="true"></script>
    <ejs-scripts></ejs-scripts>
    <script>
        document.addEventListener('DOMContentLoaded', function (event) {
           // debugger;
            //sidebarInstance = document.getElementById('sidebar-menu').ej2_instances[0];

            //document.getElementById('hamburger').onclick = function () {
            //    sidebarInstance.toggle();
            //};
        });
        function topvarmenuresize(ite) {

        }
        //var menuObj = ej.base.getComponent(document.getElementById('topmenu'), 'topmenu');
        topvarmenuresize(window.innerWidth);

    </script>

    <script>
        $(document).on('click', '#Btn_AddSkillSet', function (e) {
            $.ajax({
                url: '/PartialView/LoadViewWithAjax',
                success: function (partialView) {
                    $('body').append(partialView);
                }
            });
        });

        $(document).on('click', '#Btn_DeleteSkillset', function (e) {
            $(this).parent().parent().remove();
        });

    </script>


@* 
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
   <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script> *@

    @RenderSection("Scripts", required: false)
   @*  <ejs-scripts></ejs-scripts> *@
</body>
</html>
