


<h1>Bootstrap Modal Example</h1>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" id="modalShowBtn">
    Launch demo modal
</button>

<!-- Button trigger modal -->
<form asp-action="DownloadLicensePdf" asp-controller="PartialView" method="post">
    <button type="submit" class="btn btn-primary">
       download Pdf
    </button>
</form>

@section Scripts{

<script>
    $(document).ready(function () {
        //$('.modal-body1').load('_partialView.html');
        var _createOrEditModalworkflow = new ModalManager({
            viewUrl: '/PartialView/PartialView',
            modalClass: 'CreateOrEditCWorkflowModal'
        });

        $('#modalShowBtn').click(function () {
            _createOrEditModalworkflow.open({Id:12});
        });
    });
</script>
}
